@font-face {
    font-family: 'SF-pro';
    src: url('./SF-Pro-Display-Heavy.otf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF-pro';
    src: url('./SF-Pro-Display-Heavy.otf') format('truetype');
    font-weight: bolder;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF-pro';
    src: url('./SF-Pro-Display-Black.otf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF-pro';
    src: url('./SF-Pro-Display-Bold.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF-pro';
    src: url('./SF-Pro-Display-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF-pro';
    src: url('./SF-Pro-Display-Semibold.otf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF-pro';
    src: url('./SF-Pro-Display-Medium.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF-pro';
    src: url('./SF-Pro-Display-Regular.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF-pro';
    src: url('./SF-Pro-Display-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF-pro';
    src: url('./SF-Pro-Display-Light.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF-pro';
    src: url('./SF-Pro-Display-Light.otf') format('truetype');
    font-weight: lighter;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF-pro';
    src: url('./SF-Pro-Display-Thin.otf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF-pro';
    src: url('./SF-Pro-Display-Ultralight.otf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'SF-pro';
    src: url('./SF-Pro-Display-HeavyItalic.otf') format('truetype');
    font-weight: 900;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SF-pro';
    src: url('./SF-Pro-Display-HeavyItalic.otf') format('truetype');
    font-weight: bolder;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SF-pro';
    src: url('./SF-Pro-Display-BlackItalic.otf') format('truetype');
    font-weight: 800;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SF-pro';
    src: url('./SF-Pro-Display-BoldItalic.otf') format('truetype');
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SF-pro';
    src: url('./SF-Pro-Display-BoldItalic.otf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SF-pro';
    src: url('./SF-Pro-Display-SemiboldItalic.otf') format('truetype');
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SF-pro';
    src: url('./SF-Pro-Display-MediumItalic.otf') format('truetype');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SF-pro';
    src: url('./SF-Pro-Display-RegularItalic.otf') format('truetype');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SF-pro';
    src: url('./SF-Pro-Display-RegularItalic.otf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SF-pro';
    src: url('./SF-Pro-Display-LightItalic.otf') format('truetype');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SF-pro';
    src: url('./SF-Pro-Display-LightItalic.otf') format('truetype');
    font-weight: lighter;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SF-pro';
    src: url('./SF-Pro-Display-ThinItalic.otf') format('truetype');
    font-weight: 200;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SF-pro';
    src: url('./SF-Pro-Display-UltralightItalic.otf') format('truetype');
    font-weight: 100;
    font-style: italic;
  }
  
  